@import "../../node_modules/bootstrap/less/bootstrap.less";

#myCarousel img.first-slide {

  height:500px;
  width:100%;

}
#myCarousel img.second-slide {

  height:500px;
  width:100%;

}
#myCarousel img.third-slide {

  height:500px;
  width:100%;

}
