extends ./layout.jade

block head
  link(href="about.css" rel="stylesheet")

block content

  nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="./index.html") HM Tech
      div(id="navbar", class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li
            a(href="./index.html") Home
          li(class="active" )
            a(href="#") About
          li
            a(href="./contact.html") Contact

  br
  br
  h1 About Us
  p This is the about page, were any information about the company can go.
  p This is a static page, so will work on mobile devices as well as desktops.
