extends ./layout.jade

block content


  div(id='scene1', class='scene')
  div(id='scene2', class='scene')
  div(id='scene2pin', class='scenepin')
  div(id='scene3', class='scene')
  div(id='scene4', class='scene')
  div(id='scene5', class='scene')

  div(id='ball')

  script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js')
  script(src='js/animation.gsap.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.js')
  script(src='js/example.js')
